*{
	margin: 0;
	padding: 0;
}
ul{
	width: 1000px;
	height: 500px;
	border: 1px solid #000;
	margin-top: 50px;
	margin: 100px auto;
	overflow: hidden;

}
li{
	list-style: none;
	width: 200px;
	height: 500px;
	float: left;
	transition-property:width;
	transition-duration: 2s; 
}
li img{
	height: 500px;
}
ul:hover li{
	width: 100px;
}
ul li:hover{
	width: 600px;
}
.p1{
	background: red;
}
.p2{
	background: gray;
}
.p3{
	background: yellow;
}
.p4{
	background: black;
}
.p5{
	background: blue;
}





















过渡 案例 和 过渡 课程笔记  试题   :hover 同级 ~ 后代 空格 